.link-icon {
    margin-right: 0.5rem;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1600px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.flash-messages-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1056;
    width: auto;
    max-width: 640px;
}

.flash-messages-container .alert {
    margin-bottom: 0.5rem;
}
