<!DOCTYPE html>
<html lang="uk">
<meta charset="UTF-8">
<head>
    <title>Пошук автомобіля на закордонних сайтах</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-white">
<div class="container mt-5">
    <div class="row justify-content-center g-4 text-center p-4 mb-4">
        <h2>
            Програмна система для пошуку та порівняння вживаних авто за
            даними закордонних автомобільних сайтів
        </h2>
        <a href="{{ url_for('search') }}" class="btn btn-primary w-25">
            Знайти автомобіль за кордоном
        </a>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h4>Наявні автомобілі в системі</h4>
        <p>Кількість авто: {{ cars|length }}</p>
    </div>
    <hr>
    <form id="searchForm" method="GET" class="row g-3 mb-4">
        <!-- Бренд -->
        <div class="col-md-3">
            <label for="make" class="form-label">Марка</label>
            <select class="form-select" id="make" name="make">
                <option value="">Оберіть марку</option>
                {% for make in makes %}
                <option value="{{ make.make_id }}" {% if selected.make==make.make_id %}selected{% endif %}>
                    {{ make.make_display }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Модель -->
        <div class="col-md-3">
            <label for="model" class="form-label">Модель</label>
            <select id="model" name="model" class="form-select" disabled data-selected="{{ selected.model or '' }}">
                <option value="">Оберіть модель</option>
            </select>
        </div>

        <!-- Тип палива -->
        <div class="col-md-3">
            <label for="fuel" class="form-label">Тип пального</label>
            <select id="fuel" name="fuel" class="form-select">
                <option value="">Усі типи</option>
                {% for key, obj in fuel_types.items() %}
                <option value="{{ key }}" {% if selected.fuel==key %}selected{% endif %}>
                    {{ obj.label }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Рік -->
        <div class="col-md-3">
            <label for="year" class="form-label">Рік виробництва</label>
            <select id="year" name="year" class="form-select">
                <option value="">Усі роки</option>
                {% for y in years %}
                <option value="{{ y }}" {% if selected.year==y|string %}selected{% endif %}>
                    {{ y }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Країна -->
        <div class="col-md-3">
            <label for="country" class="form-label">Країна</label>
            <select id="country" name="country" class="form-select">
                <option value="">Усі країни</option>
                {% for code, name in country_names.items() %}
                <option value="{{ code }}" {% if selected.country==code %}selected{% endif %}>
                    {{ name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Сортування -->
        <div class="col-md-3">
            <label for="sort" class="form-label">Сортування</label>
            <select  id="sort" name="sort" class="form-select">
                <option value="newest" {% if selected.sort=='newest' %}selected{% endif %}>
                    Нові зверху
                </option>
                <option value="oldest" {% if selected.sort=='oldest' %}selected{% endif %}>
                    Старі зверху
                </option>
                <option value="price_asc" {% if selected.sort=='price_asc' %}selected{% endif %}>
                    Ціна ↑
                </option>
                <option value="price_desc" {% if selected.sort=='price_desc' %}selected{% endif %}>
                    Ціна ↓
                </option>
                </option>
            </select>
        </div>

        <!-- Кнопка -->
        <div class="col-md-3 align-self-end">
            <button class="btn btn-outline-primary w-100">Застосувати</button>
        </div>

        <!-- Скинути всі -->
        <div class="col-md-3 align-self-end">
            <a href="{{ url_for('index') }}" class="btn btn-outline-secondary w-100">
                Скинути всі
            </a>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Марка</th>
            <th>Модель</th>
            <th>Рік</th>
            <th>Тип пального</th>
            <th>Обʼєм двигуна</th>
            <th>Ємність акум.</th>
            <th>Країна</th>
            <th>Ціна, €</th>
            <th>Мито, грн</th>
            <th>Фінальна ціна, грн</th>
            <th>Посилання</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
        <tr>
            <td>{{ car.make or '—' }}</td>
            <td>{{ car.model or '—' }}</td>
            <td>{{ car.year or '—' }}</td>
            <td>{{ fuel_types[car.fuel_type.lower()].label }}</td>
            <td>
                {% if car.engine_volume is not none %}
                {{ car.engine_volume }} см³
                {% else %}
                -
                {% endif %}
                /
                {% if car.engine_liters is not none %}
                {{ car.engine_liters }} л
                {% else %}
                -
                {% endif %}
            </td>
            <td>
                {% if car.battery_capacity_kwh is not none %}
                {{ car.battery_capacity_kwh }} кВт-год
                {% else %}
                -
                {% endif %}
            </td>
            <td>{{ country_names.get(car.country) or car.country or '—' }}</td>
            <td>{{ car.price or '—' }}</td>
            <td>{{ car.customs_uah or '-' }}</td>
            <td>{{ car.final_price_uah or '-' }}</td>
            <td>
                {% if car.link %}
                <a href="{{ car.link }}" target="_blank">Перейти</a>
                {% else %}
                —
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{ url_for('static', filename='js/car_select.js') }}" defer></script>
</body>
</html>
