{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center g-4 text-center mb-4">
    <div class="d-flex flex-row align-items-center justify-content-center link-primary">
        <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             viewBox="0 0 16 16">
            <path fill="currentColor"
                  d="M7.022 1.489a.75.75 0 0 1 1.1 1.022L3.72 7.25H15l.076.004a.75.75 0 0 1 0 1.492L15 8.75H3.72l4.401 4.74.05.059a.75.75 0 0 1-1.094 1.014l-.055-.053-5.572-6a.751.751 0 0 1 0-1.021l5.572-6Z"/>
        </svg>
        <a href="{{ url_for('main.index') }}">Повернутись до списку</a>
    </div>
    <h2 class="mb-4">Форма для пошуку авто на закордонних сайтах</h2>

</div>

<hr/>

{% include "loader.html" %}
<form id="searchForm" method="POST" action="{{ url_for('main.search') }}" class="row g-3">
    <div class="col-md-3">
        <label for="source" class="form-label">Джерело</label>
        <select class="form-select" id="source" name="source">
            {% for src in sources %}
            <option value="{{ src.id }}" {% if src.id==1 %}selected{% endif %}>
                {{ src.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="make" class="form-label">Марка</label>
        <select class="form-select" id="make" name="make">
            <option value="">Оберіть марку</option>
            {% for make_item in makes %}
            <option value="{{ make_item.id }}"> {{ make_item.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <label for="model" class="form-label">Модель</label>
        <select class="form-select" id="model" name="model" disabled>
            <option value="">Оберіть модель</option>
        </select>
    </div>

    <div class="col-md-3">
        <label class="form-label">Ціна (€)</label>
        <div class="d-flex">
            <label for="pricefrom"></label>
            <select class="form-select me-2" id="pricefrom" name="pricefrom">
                <option value="">Від</option>
                {% for p in price_options %}
                <option value="{{ p }}">
                    {{ "{:,}".format(p) }} €
                </option>
                {% endfor %}
            </select>
            <label for="priceto"></label>
            <select class="form-select" id="priceto" name="priceto">
                <option value="">До</option>
                {% for p in price_options %}
                <option value="{{ p }}">
                    {{ "{:,}".format(p) }} €
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <label class="form-label">Рік</label>
        <div class="d-flex">
            <label for="fregfrom"></label>
            <select class="form-select me-2" id="fregfrom" name="fregfrom">
                <option value="">Від</option>
                {% for y in years %}
                <option value="{{ y }}">
                    {{ y }}
                </option>
                {% endfor %}
            </select>
            <label for="fregto"></label>
            <select class="form-select" id="fregto" name="fregto">
                <option value="">До</option>
                {% for y in years %}
                <option value="{{ y }}">
                    {{ y }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <label class="form-label">Пробіг (км)</label>
        <div class="d-flex">
            <label for="kmfrom"></label>
            <select class="form-select me-2" id="kmfrom" name="kmfrom">
                <option value="">Від</option>
                {% for m in mileage_options %}
                <option value="{{ m }}">
                    {{ "{:,}".format(m) }}
                </option>
                {% endfor %}
            </select>

            <label for="kmto"></label>
            <select class="form-select" id="kmto" name="kmto">
                <option value="">До</option>
                {% for m in mileage_options %}
                <option value="{{ m }}">
                    {{ "{:,}".format(m) }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <label for="cy" class="form-label">Країна</label>
        <select class="form-select" id="cy" name="cy">
            <option value="">Усі країни</option>
            {% for code, name in country_codes.items() %}
            <option value="{{ name }}">
                {{ code }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <label for="fuel" class="form-label">Тип пального</label>
        <select id="fuel" name="fuel" class="form-select">
            <option value="">Усі типи</option>
            {% for key, obj in fuel_types.items() %}
            <option value="{{ obj.code }}">
                {{ obj.label }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3 align-self-end">
        <button id="searchBtn" type="submit" class="btn btn-primary w-100">Пошук на AutoScout24</button>
    </div>
</form>

{% if searched %}
{% if saved_cars_count > 0 %}
<div id="searchResultsInfo" class="alert alert-info text-center p-4 mt-4">
    <h4 class="mb-3">Успішно збережено {{ saved_cars_count }} авто.</h4>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Перейти до списку авто</a>
</div>
{% else %}
<div class="alert alert-warning text-center p-4 mt-4">
    За вашим запитом нічого не знайдено.
</div>
{% endif %}
{% endif %}

<hr/>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const info = document.getElementById('searchResultsInfo');
    if (info) {
      window.history.replaceState(
        null,
        document.title,
        window.location.pathname
      );
    }
  });
</script>
{% endblock %}